<div class="container">
<h1>CTC but not Funded as of: <%= date %></h1>
</div>

<table class="table input-sm">
  <tr>
    <th>Investor</th>
    <th>Investor #</th>
    <th>Loan #</th>
    <th>Borrower Name</th>
    <th>Address </th>
    <th>Rate</th>
    <th class="text-center">Loan Amount</th>
    <th>Milestone</th>
    <th>Date CTC</th>
    <th>Base YSP</th>
    <th>Total Adj</th>
    <th>Net YSP</th>
    <th>Net SRP</th>
    <th>Total Rebate</th>
    <th>Victoria Lock Date</th>
    <th>Inv Lock Date</th>
    <th>Inv Lock Exp</th>
    <th>P/S/I</th>
    <th>Purpose</th>
    <th>Processor</th>
    <th>Loan Officer</th>

  </tr>

  <% var loanAmtTotal = parseFloat(0.00); %>

  <% for( var i = 0; i < loans.length; i++ ) { %>
    <script> console.log("<%= typeof loans[i].fundedDate %>");</script>
  <tr>
    <td><%= loans[i].investor %></td>
    <td><%= loans[i].investorNum %></td>
    <td><%= loans[i].loanNum %></td>
    <td><%= loans[i].b1_lname + ", " + loans[i].b1_fname %></td>
    <td><%= loans[i].address %></td>
    <td><%= loans[i].int_rate.toFixed(3) %></td>
    <td class="text-center"><%= loans[i].loanAmt %></td>
    <% loanAmtTotal += parseFloat(loans[i].loanAmt.replace(/[$,]/g, "") )  %>
    <td><%= loans[i].currentMilestone %></td>
    <td><%= dateToFormattedString(loans[i].CTCDate) %></td>
    <td><%= loans[i].baseYSP.toFixed(3) %></td>
    <td><%= loans[i].totalAdj.toFixed(3) %></td>
    <td><%= loans[i].netYSP.toFixed(3) %></td>
    <td><%= loans[i].netSRP.toFixed(3) %></td>
    <td><%= (loans[i].baseYSP + loans[i].totalAdj + loans[i].netYSP + loans[i].netSRP).toFixed(3) %></td>

    <td><%= dateToFormattedString(loans[i].victoriaLockDate) %></td>
    <td><%= dateToFormattedString(loans[i].investorLockDate) %></td>
    <td><%= dateToFormattedString(loans[i].investorLockExpDate) %></td>

    <td><% loans[i].occupancy.toUpperCase() %>
      <% if(loans[i].occupancy.toUpperCase().match("PRIMARYRESIDENCE")){ %>
        P
      <% } else if(loans[i].occupancy.toUpperCase().match("INVESTOR")){ %>
        I
      <% } else if(loans[i].occupancy.toUpperCase().match("SECONDARY")){ %>
        S
      <% } %>
    </td>
    <td><%= loans[i].loan_purpose %></td>
    <td><%= loans[i].processor %></td>
    <td><%= loans[i].loanOfficer %></td>

  </tr>
  <% } %>

  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Count: <%= loans.length %></th>
    <th>Total: <%= "$" + loanAmtTotal.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>


<script type="text/javascript">
<%
function dateToFormattedString(date){
  if(date == null){
    return "";
  }
  var mm = date.getMonth() + 1;
  var dd = date.getDate();
  if(dd < 10){
    dd = '0' + dd;
  }
  var yyyy = date.getFullYear().toString().substring(2);
  return mm + "/" + dd + "/" + yyyy;
}
%>
</script>
