<div class="container">
<h1>Loans Not Purchased as of: <%= date %></h1>

<table class="table">
  <tr>
    <th>Investor</th>
    <th>Investor #</th>
    <th>Loan #</th>
    <th>Borrower Name</th>
    <th class="text-center">Loan Amount</th>
    <th>Processor</th>
    <th>Loan Officer</th>
    <th class="text-center">Funded Date</th>
    <th class="text-center">Days Out</th>
  </tr>

  <%/ var loanAmtTotal = numeral(0.00); %>

  <% loans.forEach(function(loan) { %>

  <tr>
    <td><%= loan.investor %></td>
    <td><%= loan.investorNum %></td>
    <td><%= loan.loanNum %></td>
    <td><%= loan.b1_lname + ", " + loan.b1_fname %></td>
    <td class="text-center"><%= loan.loanAmt %></td>
    <%/ loanAmtTotal.add(numeral(loan.loanAmt).value()) %>
    <td><%= loan.processor %></td>
    <td><%= loan.loanOfficer %></td>
    <td class="text-center"><%= loan.fundedDate %></td>
    <td class="text-center"><%/ Math.floor(Math.abs(new Date() - loan.fundedDate)/1000/60/60/24) %></td>
  </tr>
  <% }); %>

  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>Count: <%= loans.length %></th>

    <th>Total: <%= loanAmtTotal.format('$0,0.00') %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>
</container>

<script type="text/javascript">
<%
function dateToFormattedString(date){
  var mm = date.getMonth() + 1;
  var dd = date.getDate();
  if(dd < 10){
    dd = '0' + dd;
  }
  var yyyy = date.getFullYear().toString().substring(2);
  return mm + "/" + dd + "/" + yyyy;
}
%>
</script>
