<div class="container">
<h1>Payments Collected</h1>

<table id="table" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Servicing Status</th>
      <th>1st Payment Date</th>
      <th>1st Payment Investor</th>
      <th>Last Printed Statement</th>
      <th>Payments Collected</th>
      <th>Expected Payments</th>
      <th>Investor</th>
      <th>Investor #</th>
      <th>Loan #</th>
      <th>Borrower Name</th>
      <th>Processor</th>
      <th>Loan Officer</th>
    </tr>
  </thead>

  <tbody>
    <% loans.forEach( function(loan) { %>
      <% if(loan.firstPaymentDateInvestor == null){
        loan.firstPaymentDateInvestor = moment().add(1, 'months').set('date', 1);
      }%>

      <% var duration = moment.duration(moment(loan.firstPaymentDateInvestor).diff(moment(loan.firstPaymentDate))); %>
      <% var expectedPayments = Math.round(duration.asMonths());  %>

      <% if (loan.paymentsCollected != 0 ) { %>

        <tr <% if(loan.servicingStatus == ' Current'   ) { %> class='alert-warning' <% }
           else if(loan.servicingStatus == ' Servicing Released' ) { %> class='alert-info' <% } %>
          >
          <td><%= loan.servicingStatus %></td>
          <td><%= moment(loan.firstPaymentDate).format('MM/DD/YY') %></td>

          <td><%= moment(loan.firstPaymentDateInvestor).format('MM/DD/YY') %></td>
          <td><%= moment(loan.mortgageStatementLastPrinted).format('MM/DD/YY') %></td>
          <td><%= loan.paymentsCollected %></td>
          <td><%= expectedPayments%></td>
          <td><%= loan.investor %></td>
          <td><%= loan.investorNum %></td>
          <td><%= loan.loanNum %></td>
          <td><%= loan.b1_lname + ", " + loan.b1_fname %></td>

          <td><%= loan.processor %></td>
          <td><%= loan.loanOfficer %></td>
        </tr>
      <% } %>
    <% }); %>
  </tbody>

</table>

<table class='table'>
  <tr class="text-center">
    <td class="alert-warning">*Still being serviced*</td>
    <td class="alert-info">*Servicing Released*</td>
  </tr>
</table>

</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
        $("#table").DataTable({
           "pageLength": 10,
           "order": [[3, "desc"]]
        });
  }, false);

  <%
  function dateToFormattedString(date){
    if (date == null) return "";
    return moment(date).format("MM/DD/YYYY")
  }
  %>
</script>
