<div class="container">
<h1>Payments to Collect</h1>

<table id="table" class="table table-hover table-condensed input-sm">
  <thead>
    <tr>
      <th>Servicing Status</th>
      <th>1st Payment Date</th>
      <th>1st Payment Investor</th>
      <th>Next Payment Date</th>
      <th>Last Printed Statement</th>
      <th>Payments Collected</th>
      <th>Expected Payments</th>
      <th>Investor</th>
      <th>Investor #</th>
      <th>Loan #</th>
      <th>Borrower Name</th>
      <th>Processor</th>
      <th>Loan Officer</th>
    </tr>
  </thead>

  <tbody>
    <% loans.forEach( function(loan) { %>
      <% var nextPayment = (loan.firstPaymentDateInvestor == null) ? moment().add(1, 'months').set('date', 1) :loan.firstPaymentDateInvestor %>

      <% var duration = moment.duration(moment(nextPayment).diff(moment(loan.firstPaymentDate))); %>
      <% var expectedPayments = Math.round(duration.asMonths());  %>

        <tr <% if(moment() >= moment(loan.firstPaymentDate).add(15, 'days').add(loan.paymentsCollected ,'months')   ) { %> class='alert-danger' <% }
           else if(moment() >= moment(loan.firstPaymentDate).add(loan.paymentsCollected ,'months')  ) { %> class='alert-warning' <% } %>
          >
          <td><%= loan.servicingStatus %></td>
          <td><%= moment(loan.firstPaymentDate).format('MM/DD/YY') %></td>
          <td><%= (loan.firstPaymentDateInvestor == null) ? "N/A" : moment(loan.firstPaymentDateInvestor).format('MM/DD/YY') %></td>
          <td><%= moment(nextPayment).format('MM/DD/YY') %></td>
          <td><%= moment(loan.mortgageStatementLastPrinted).format('MM/DD/YY') %></td>
          <td><%= loan.paymentsCollected %></td>
          <td><%= expectedPayments%></td>
          <td><%= loan.investor %></td>
          <td><%= loan.investorNum %></td>
          <td><%= loan.loanNum %></td>
          <td><%= loan.b1_lname + ", " + loan.b1_fname %></td>

          <td><%= loan.processor %></td>
          <td><%= loan.loanOfficer %></td>
        </tr>

    <% }); %>
  </tbody>

</table>

<table class='table'>
  <tr class="text-center">
    <td class="alert-warning">*Payment Expected Soon*</td>
    <td class="alert-danger">*Payment Overdue*</td>
  </tr>
</table>

</container>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
        $("#table").DataTable({
           "pageLength": 10,
           "order": [[4, "desc"]]
        });
  }, false);

  <%
  function dateToFormattedString(date){
    if (date == null) return "";
    return moment(date).format("MM/DD/YYYY")
  }
  %>
</script>
