<div class="container">
<h1>Servicing to Collect</h1>



<table id="table" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Investor</th>
      <th>Investor #</th>
      <th>Loan #</th>
      <th>Borrower Name</th>
      <th>Loan Amount</th>
      <th>Processor</th>
      <th>Loan Officer</th>
    </tr>
  </thead>

  <% var loanAmtTotal = parseFloat(0.00); %>

  <tbody>
    <% loans.forEach( function(loan) { %>
    <tr>
      <td><%= loan.investor %></td>
      <td><%= loan.investorNum %></td>
      <td><%= loan.loanNum %></td>
      <td><%= loan.b1_lname + ", " + loan.b1_fname %></td>
      <td><%= loan.loanAmt %></td>
      <% loanAmtTotal += parseFloat(loan.loanAmt.replace(/[$,]/g, "") )  %>
      <td><%= loan.processor %></td>
      <td><%= loan.loanOfficer %></td>
    </tr>
    <% }); %>
  </tbody>

</table>
</container>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
        $("#table").DataTable({
           "pageLength": 25
        });
  }, false);

  <%
  function dateToFormattedString(date){
    if (date == null) return "";
    return moment(date).format("MM/DD/YYYY")
  }
  %>
</script>
